In [10]:
import sklearn
import numpy as np
import pandas as pd

Importing dataset

In [15]:
dataset_raw = pd.read_csv("dataset_183_adult.csv",header=0)
print(dataset_raw.head(10))

   age         workclass  fnlwgt  education  education-num  \
0    2         State-gov   77516  Bachelors             13
1    3  Self-emp-not-inc   83311  Bachelors             13
2    2           Private  215646    HS-grad              9
3    3           Private  234721       11th              7
4    1           Private  338409  Bachelors             13
5    2           Private  284582    Masters             14
6    3           Private  160187        9th              5
7    3  Self-emp-not-inc  209642    HS-grad              9
8    1           Private   45781    Masters             14
9    2           Private  159449  Bachelors             13

          marital-status         occupation   relationship   race     sex  \
0          Never-married       Adm-clerical  Not-in-family  White    Male
1     Married-civ-spouse    Exec-managerial        Husband  White    Male
2               Divorced  Handlers-cleaners  Not-in-family  White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4     Married-civ-spouse     Prof-specialty           Wife  Black  Female
5     Married-civ-spouse    Exec-managerial           Wife  White  Female
6  Married-spouse-absent      Other-service  Not-in-family  Black  Female
7     Married-civ-spouse    Exec-managerial        Husband  White    Male
8          Never-married     Prof-specialty  Not-in-family  White  Female
9     Married-civ-spouse    Exec-managerial        Husband  White    Male

   capitalgain  capitalloss  hoursperweek native-country  class
0            1            0             2  United-States  <=50K
1            0            0             0  United-States  <=50K
2            0            0             2  United-States  <=50K
3            0            0             2  United-States  <=50K
4            0            0             2           Cuba  <=50K
5            0            0             2  United-States  <=50K
6            0            0             0        Jamaica  <=50K
7            0            0             2  United-States   >50K
8            4            0             3  United-States   >50K
9            2            0             2  United-States   >50K

Exploring unique values in dataset

In [30]:
for col in dataset_raw.columns:
    print("Column: " + col)
    print("Number of unique values: " + str(pd.unique(dataset_raw[col]).shape[0]))
    print(pd.unique(dataset_raw[col]))
    print("\n")

Column: age
Number of unique values: 5
[2 3 1 0 4]


Column: workclass
Number of unique values: 9
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']


Column: fnlwgt
Number of unique values: 28523
[ 77516  83311 215646 ... 173449  89686 350977]


Column: education
Number of unique values: 16
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']


Column: education-num
Number of unique values: 16
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]


Column: marital-status
Number of unique values: 7
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']


Column: occupation
Number of unique values: 15
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']


Column: relationship
Number of unique values: 6
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']


Column: race
Number of unique values: 5
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']


Column: sex
Number of unique values: 2
['Male' 'Female']


Column: capitalgain
Number of unique values: 5
[1 0 4 2 3]


Column: capitalloss
Number of unique values: 5
[0 3 1 2 4]


Column: hoursperweek
Number of unique values: 5
[2 0 3 4 1]


Column: native-country
Number of unique values: 42
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']


Column: class
Number of unique values: 2
['<=50K' '>50K']

Since the dataset has mostly categorical data we will need to factorize them. 
On the other hand fnlwgt is a continuous number, so depending on the algorithm we are using we will need to normalize using either z-score or min-max

Factorizing the categorical data